<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Make new comment</h1>
    <form action="/comments" method="post">
      <section>
        <label for="username"> Enter Username :</label>
        <input type="text" id="username" placeholder="username" />
      </section>
      <br>
      <section>
        <label for="comment">Comment text</label>
        <br>
        <textarea name="" id="" cols="30" rows="10"></textarea>
      </section>
      <button>Submit</button>
    </form>
  </body>
</html>
