*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
.navbar{
    display:flex;
    justify-content: space-between;
    padding: 2rem 2rem 2rem 2rem;
    background-color: rgb(221, 248, 248);
    font-size: large;
    box-shadow: 0px 3px 20px rgb(138, 138, 138);
}

.nav-toggle{
    display: none;

}

.lists{
    padding:0 5vw 0 5vw;
    font-weight: 450;
    
    
}

.show-links{
    height: 10rem;
}
.links{
    display: flex;
    flex-direction: row;
    height: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    
}
.show-links{
    height: 10rem;
}

.links li {
    padding: 0 2rem 0 2rem;
}

.social-icons{
    display: flex;
    flex-direction: row;
}

.social-icons li{
    padding: 0 1rem 0 1rem;
}

.nav-toggle i:hover{
    transition: all 0.3s linear;

    cursor: pointer;
    transform: rotate(90deg);

}


.links li:hover {
    background: rgb(121, 240, 240);
    color: rgb(63, 60, 60);
    padding-left: 1.5rem;
    transition:all 0.3s linear;
    cursor: pointer;
  }

@media (max-width:860px)
{
    .navbar{
        flex-direction: column;
        padding-left: 0;
        padding-bottom: 15px;
    }

    .heading{
        display: flex;
        justify-content: space-between;
        padding: 0 1rem 0 2rem;
    }
    .lists{
        padding: 5px;
        /* height: 25vh; */
    }
    .links{
        display: flex;
        flex-direction: column;
        margin: 2rem 0 0 0;
        overflow: hidden;
    }

    .links li{
        padding: 2px 5px 2px 2px;
        font-size: larger;
        font-weight: 600;
    }

    .social-icons{
        display: none;
    }

    .nav-toggle{
        display: contents;
        font-size: large;
    }
}