<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is our home page</h1>
    <!-- use javascript in ejs we use <%=  %> -->
    <p>

      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex mollitia
      deleniti aliquid voluptas alias sapiente, laborum, necessitatibus aut
      beatae quis recusandae et similique! Dolorem exercitationem dolorum,
      doloremque aliquid tempora assumenda voluptatum et.
    </p>
  </body>
</html>
