<% layout('./layout/boilerplate') -%> 
<h1>All campgrounds</h1>
<a href="/camground/new">Create new ground</a>
<ul>
  <% for(let c of camp){ %>
  <li><a href="/campground/<%= c.id %>"><%= c.title %> </a></li>
  <% } %>
</ul>
