<% layout('./layout/boilerplate') -%>
<div class="row">
  <h1 class="text-center">New Campground</h1>
  <div class="col-6 offset-3">
    <div class="mb-3">
      <form action="/campground" method="POST" novalidate class="validated-form">
        <div class="mb-3">
          <label class="form-label" for="title">title</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="campground[title]"
            required
          />
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="image">Image- Url</label>
          <input
            class="form-control"
            type="text"
            id="image"
            name="campground[image]" required
          />
          <div class="valid-feedback">
        Looks good!
      </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="location">location</label>
          <input
            class="form-control"
            type="text"
            id="location"
            name="campground[location]" required
          />
          <div class="valid-feedback">
        Looks good!
      </div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input type="text" id="price" class="form-control" placeholder="0.00"
          aria-label="price" name="campground[price]" required>
          <div class="valid-feedback">
        Looks good!
      </div>
        </div>

        <div class="input-group">
          <span class="input-group-text">Description</span>
          <input type="text" class="form-control" id="description" name="campground[description]" aria-label="description" required>
          <div class="valid-feedback">
        Looks good!
      </div>
        </div>
        <div class="mb-3 mt-3">
          <button class="btn btn-success">Add CampGround</button>
          <a class="btn btn-primary" href="/campground">Index</a>
        </div>
      </form>
    </div>
  </div>
</div>
